*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;

  background-color: #1c1c1c;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}
main {
  background-color: #1f2937;
  border-radius: 10px;
}

.text-accent {
  color: #4adf86;
}
.btn,
.btn:link,
.btn:visited {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #10b981;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 12px;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #0e9d7e;
}
h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;

  margin-top: 100px;
  margin-bottom: 10px;

  color: #fff;
}
.container {
  padding: 30px;
  max-width: 650px;
}
.subhead {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #d5d4d8;

  margin-bottom: 60px;
}
.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

hr {
  margin: 40px 0;
  background-color: #2f3e53;
}

.passwords {
  display: grid;
  grid-template-columns: repeat(2, 211px);

  column-gap: 30px;
  row-gap: 27px;
}

.password {
  width: 211px;
  height: 39px;

  border-radius: 6px;

  background-color: #273549;

  display: flex;
  align-items: center;
  justify-content: center;
}

.copied {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
  font-weight: 500;
  background-color: #273549;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
